* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: none; }

body.fp-viewing-firstPage, body.fp-viewing-secondPage, body.fp-viewing-thirdPage, body.fp-viewing-fourthPage {
  background: none; }

#fp-nav ul li a span {
  background: #6C0240;
  color: #6C0240; }

.navbar {
  height: 50px;
  padding: 0;
  background-color: #0A0A0A;
  font-family: 'Roboto', sans-serif;
  color: #EFEFEF;
  font-size: 1.6rem; }
  .navbar img {
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: top; }
  .navbar img:hover {
    opacity: .7; }
  .navbar a {
    color: #EFEFEF;
    font-weight: 900; }
  .navbar li a:hover {
    color: #0A0A0A;
    border-bottom: 10px solid #348AA7; }
  .navbar ul li {
    background: none;
    box-sizing: padding-box; }
    .navbar ul li a:focus {
      background: #EFEFEF;
      color: #0A0A0A;
      border-bottom: 10px solid #630460; }

.button {
  margin: 0 auto;
  box-sizing: border-box;
  color: #EFEFEF;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #6C0240;
  border-radius: 100px;
  box-shadow: 0px 0px 25px -5px #0A0A0A; }
  .button .glyphicon {
    margin: 0;
    padding: 0;
    font-size: 4em;
    line-height: 100px; }

.section {
  padding: 2%;
  background: #EFEFEF; }

.section1 {
  background: linear-gradient(#0A0A0A, #033860);
  width: 80%;
  margin: 0 auto;
  padding: 4%; }
  .section1 img {
    width: 40%;
    display: block;
    margin: 0 auto 2% auto; }
  .section1 h2 {
    padding: 3%;
    text-align: center;
    color: #EFEFEF; }

.section2 {
  background: linear-gradient(#033860, #348AA7);
  font-family: 'Roboto', sans-serif;
  font-weight: 900; }
  .section2 h1 {
    color: #EFEFEF;
    text-align: center;
    padding: 3%;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 900; }
  .section2 img {
    width: 100%;
    margin: 0 auto 1.5rem auto; }
  .section2 p {
    color: #EFEFEF;
    text-align: center;
    font-size: 2.5rem; }
  .section2 .col-sm-2 p {
    text-transform: uppercase; }

.section3 {
  background: linear-gradient(#348AA7, #EFEFEF); }
  .section3 img {
    width: 100%;
    box-shadow: 0px 0px 25px -5px #0A0A0A; }
  .section3 h1 {
    color: #0A0A0A;
    text-align: center;
    padding: 3%;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 900; }
  .section3 p {
    color: #0A0A0A;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900; }

.section4 {
  background-color: #EFEFEF; }
  .section4 h1 {
    color: #0A0A0A;
    text-align: center;
    padding: 3%;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 900; }
  .section4 p {
    color: #0A0A0A;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900; }
  .section4 img {
    width: 100%;
    box-shadow: 0px 0px 25px -5px #0A0A0A; }
  .section4 #tryIt {
    width: 200px;
    height: 80px;
    border: none;
    background: linear-gradient(#630460, #6C0240);
    color: #EFEFEF;
    box-shadow: 0px 0px 25px -5px #0A0A0A;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    display: block;
    margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
