$codGray: #0A0A0A;
$gallery: #EFEFEF;
$astral: #348AA7;
$astronaut: #033860;
$congress: #004385;
$jacaranda: #630460;
$tyrian: #6C0240;
$h1Size: 6rem;
$pSize: 2.5rem;
$btnH: 100px;
$btnW: 100px;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: none;
}

body.fp-viewing-firstPage, body.fp-viewing-secondPage, body.fp-viewing-thirdPage, body.fp-viewing-fourthPage {
    background: none;
}

#fp-nav ul li a span {
    background: $tyrian;
    color: $tyrian;
}

.navbar {
    height: 50px;
    padding: 0;
    background-color: $codGray;
    font-family: 'Roboto', sans-serif;
    color: $gallery;
    font-size: 1.6rem;
      img {
          height: 100%;
          display: block;
          padding: 0;
          margin: 0;
          vertical-align: top;
      }
      img:hover {
          opacity: .7;
      }
      a {
          color: $gallery;
          font-weight: 900;
      }
      a:hover {
          color: $codGray;
          border-bottom: 10px solid $astral;
      }
      ul {
        li {
            background: none;
            box-sizing: padding-box;
              a:focus {
                  background: $gallery;
                  color: $codGray;
                  border-bottom: 10px solid $jacaranda;
              }
        }
      }
}

.section {
    padding: 2%;
    background: $gallery;
}

.section1 {
    background: linear-gradient($codGray, $astronaut);
      #uno {
        width: 80%;
        margin: 0 auto;
        padding: 4%;
          img {
              width: 40%;
              display: block;
              margin: 0 auto 2% auto;
          }
          h2 {
              padding: 3%;
              text-align: center;
              color: $gallery;
          }
          .button {
              margin: 0 auto;
              padding: 2%;
              color: $gallery;
              text-align: center;
              width: $btnW;
                .glyphicon {
                    margin: 0;
                    padding: 0;
                    font-size: 4em;
                }
          }
    }
}

.section2 {
    background: linear-gradient($astronaut, $astral);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
      h1 {
          color: $gallery;
          text-align: center;
          padding: 3%;
          margin: 0 auto;
          font-size: 5rem;
          font-weight: 900;
      }
      img {
          width: 100%;
          margin: 0 auto 1.5rem auto;
      }
      p {
          color: $gallery;
          text-align: center;
          font-size: 2.5rem;
      }
      .col-sm-2 p {
          text-transform: uppercase;
      }
          
}

.section3 {
    background: linear-gradient($astral, $gallery);
      #tres {
      }
}

.section4 {
    background-color: $gallery;
}